@page "/"

<PageTitle>Index</PageTitle>

<script>
    ym(94757017, 'hit', url[, options]);
</script>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
